
.navbar-brand {
text-align: left;
font-family: cursive;
font-size: 35px;
color: white;

}

.lix {

text-align: center;
font-size: 20px;
color: white;
margin-right: 5px;
margin-left: 15px;

}

.airlinesw{
	border: 2px solid grey;
	margin-left: 25px;
	height: 55px;
    width: 75px;
 }

.airline{
	border: 2px solid grey;

	height: 55px;
    width: 75px;
 }