.rowD{display:flex; flex-direction:row;background-color: #FAEBD7;
	 margin-right: 20px;  border-right: 1px solid grey;  
	 }

.img{
	height: 175px;
	width: 225px;
}

.Wimg{
	height: 75px;
	width: 125px;
}
.name{
	width: 225px;
	
}
.wname{
	width: 150px;
	
}
.review{
	width: 225px;
}
.wreview{
	width: 125px;
}
.rating{
	width: 225px;
}

.card-footer{
	width: 225px;
	backgrwound-color: #f2f2f2;
}

.btn-primary{
	width: 225px;
	text-align: center;
	background-color:  #f2f2f2;
	color: blue;

	border: transparent;
	
}